body { font-family: Arial; font-size: 14px; line-height:normal; margin:0; padding:0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; box-sizing: border-box; }

.neosrulez-directmail-content { text-align:left; }
.column .neos-contentcollection { display:block;padding:0px;font-size:14px;line-height:18px;text-align:left; }
.neosrulez-directmail-content-image { line-height:0; }
.neosrulez-directmail-content-button .button { padding:10px; text-decoration: none !important; }

h1, h2, h3, h4, h5, h6 { margin:0; font-weight:bold; }

h1 { font-size:40px !important; line-height:40px !important; }
h2 { font-size:32px !important; line-height:32px !important; }
h3 { font-size:24px !important; line-height:24px !important; }

p { margin:0 !important; line-height:normal; }

img { display:block; width:100% !important; height:auto !important; }

@media screen and (max-width: 350px) {
    .four-col .column {
        max-width: 100% !important;
    }
    .three-col .column {
        max-width: 100% !important;
    }
}
@media screen and (min-width: 351px) and (max-width: 460px) {
    .three-col .column {
        max-width: 50% !important;
    }
    .four-col .column {
        max-width: 50% !important;
    }
}
@media screen and (max-width: 460px) {
    .two-col .column,
    .two-col img {
        max-width: 100% !important;
    }
}
@media screen and (min-width: 461px) {
    .four-col .column {
        max-width: 25% !important;
    }

    .three-col .column {
        max-width: 33.3% !important;
    }

    .two-col .column {
        max-width: 50% !important;
    }
}
